/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: benton-sans;
  src: url("../fonts/BentonSans_Condensed_Regular.otf"); }
@font-face {
  font-family: benton-sans;
  src: url("../fonts/BentonSansExtraComp Medium.otf");
  font-weight: bold; }
html, body {
  background-color: #942932;
  position: relative;
  height: 100%;
  font-family: benton-sans; }

#container {
  height: 100%; }

#vueApp {
  height: 100%; }

/*-----------------------
OVERRIDE CLASSES
------------------------*/
.color-white {
  color: #ffffff !important; }

.color-gold {
  color: #f6c115 !important; }

.color-red {
  color: #942932 !important; }

/*-----------------------
NAVIGATION
------------------------*/
#nav-cont {
  position: fixed;
  right: 0;
  height: 100%;
  z-index: 95;
  font-size: 0; }

#nav-button {
  display: inline-block;
  background-color: #f0a900;
  padding: 7px 15px;
  text-transform: uppercase;
  color: #942932;
  font-size: 22pt;
  font-weight: bold;
  border-radius: 10px 10px 0 0;
  letter-spacing: 1.5px;
  transform: rotate(270deg);
  transform-origin: 105% 100%;
  position: relative;
  top: 100px;
  vertical-align: top;
  cursor: pointer; }

#nav-logo {
  width: 90px;
  margin: 100px auto 30px auto; }
  #nav-logo img {
    width: 100%; }

#nav-menu {
  display: inline-block;
  text-align: center;
  width: 0px;
  height: 100%;
  background-color: #f0a900;
  transition: width 0.5s; }
  #nav-menu.active {
    width: 250px; }
  #nav-menu ul {
    display: inline-block;
    margin: 0 auto;
    text-transform: uppercase;
    text-align: left;
    font-size: 30pt;
    font-weight: bold; }
    #nav-menu ul :hover {
      color: white; }
    #nav-menu ul li {
      padding: 6px 10px; }
      #nav-menu ul li a {
        color: #942932;
        cursor: pointer; }
        #nav-menu ul li a:hover {
          color: white; }
      #nav-menu ul li form {
        width: 140px; }

#nav-search {
  width: 100px;
  margin-left: -8px;
  vertical-align: middle;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding-left: 10px;
  box-sizing: border-box; }
  #nav-search::placeholder {
    color: rgba(255, 255, 255, 0.6); }

#search-submit-btn {
  width: 30px;
  margin-left: 0;
  background-color: #942932;
  background-image: url(../images/rstore_icon_search.png);
  background-size: 45%;
  background-repeat: no-repeat;
  background-position: 40% 50%;
  vertical-align: middle;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px; }

/*-----------------------
MAIN USER BUTTONS
------------------------*/
#mobile-page-title {
  display: none; }

#user-cont {
  display: flex;
  align-items: center;
  position: fixed;
  right: 20px;
  top: 10px;
  z-index: 99; }

#user-cart-cont {
  display: flex;
  align-items: center; }

#user-loading-icon {
  display: inline-block;
  height: 19px;
  margin-right: 13px; }
  #user-loading-icon img {
    height: 100%;
    animation: spin 1.5s linear infinite; }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
#user-cart-icon {
  display: inline-block;
  height: 19px;
  margin-right: 3px; }
  #user-cart-icon img {
    height: 100%; }

#user-cart-quantity-cont {
  display: flex;
  width: 19px;
  height: 19px;
  justify-content: center;
  position: relative;
  align-items: center;
  font-size: 12pt;
  font-weight: bold;
  padding: 0px;
  border-radius: 100%;
  text-align: center;
  vertical-align: middle;
  background-color: #f6c115;
  color: #942932; }
  #user-cart-quantity-cont.dark {
    background-color: #942932;
    color: #f6c115; }

#cart-quantity {
  margin-top: 2px; }

#user-name {
  display: inline;
  position: relative;
  font-size: 12pt;
  margin-left: 10px;
  margin-top: 2px; }
  #user-name a {
    color: #ffffff; }
    #user-name a:hover {
      color: #f6c115; }
  #user-name img {
    height: 12px;
    margin-left: 1px;
    vertical-align: middle; }

/*-----------------------
LEFT PANEL
------------------------*/
#left-panel {
  width: 40%;
  min-height: 100%;
  background-color: #942932;
  position: absolute;
  box-shadow: 2px 0px 10px 6px rgba(0, 0, 0, 0.1);
  z-index: 100;
  transition: width 0.2s ease-in 0.2s; }
  #left-panel.closed {
    height: 100%;
    width: 10%; }
  #left-panel.narrow {
    width: 25%; }

#logo {
  width: 60%;
  margin: 0 auto 500px auto;
  position: relative; }
  #logo img {
    width: 100%; }

.album-image-cont {
  width: 70%;
  margin: 400px auto;
  cursor: pointer; }
  .album-image-cont:first-of-type {
    position: relative;
    top: 50%;
    transform: translateY(-50%); }
  .album-image-cont:last-of-type {
    margin-bottom: 30%; }
  .album-image-cont img {
    width: 100%; }
  .album-image-cont.single-album {
    margin: 0 auto;
    position: absolute;
    height: 100%;
    left: 0;
    right: 0; }
    .album-image-cont.single-album img {
      position: absolute;
      top: 50%;
      transform: translateY(-50%); }

#user-menu-cont {
  width: 50%;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%); }

#user-menu {
  text-transform: uppercase;
  font-size: 24pt;
  font-weight: bold;
  letter-spacing: 0.8px; }
  #user-menu li {
    padding: 2px 0; }
    #user-menu li a {
      color: #ffffff; }
      #user-menu li a:hover {
        color: #f6c115; }

/*-----------------------
RIGHT PANEL
------------------------*/
#right-panel {
  background-image: url("../images/rstore_background3_sm.jpg");
  position: fixed;
  right: 0;
  top: 0;
  width: 60%;
  height: 100%;
  transition: width 0.2s ease-in 0.2s; }
  #right-panel.open {
    width: 90%; }
  #right-panel.wide {
    width: 75%; }

#store-name {
  width: 500px;
  margin-left: 150px;
  position: relative;
  top: 50%;
  transform: translateY(-50%); }
  #store-name img {
    width: 100%; }

.album-info {
  position: absolute;
  top: 50%;
  max-height: 80%;
  overflow: scroll;
  transform: translateY(-50%);
  margin-left: 100px;
  width: 80%; }

.right-album-info {
  height: 100%; }

#artist-name {
  color: white;
  font-size: 30pt;
  margin-bottom: 0px;
  cursor: pointer; }

#album-name {
  color: #f6c115;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 45pt;
  letter-spacing: 1.5px;
  cursor: pointer; }

.yellow-arrow {
  height: 35px;
  margin-left: 10px;
  margin-bottom: 4px;
  display: inline;
  position: relative;
  transition: all 0.25s ease;
  left: 0; }
  .yellow-arrow.active {
    transform: rotate(90deg);
    left: 10px; }

.more-info {
  margin-top: 20px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.75s; }
  .more-info.active {
    max-height: 800px; }

.price {
  color: white;
  font-size: 24pt;
  display: inline;
  vertical-align: top;
  font-weight: bold; }

.cart-button {
  background-color: #f0a900;
  padding: 5px 10px;
  color: #942932;
  text-transform: uppercase;
  border: none;
  font-size: 12pt;
  font-weight: bold;
  vertical-align: top;
  margin-left: 20px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2); }

.tracklist {
  list-style-position: inside;
  list-style-color: #f6c115;
  color: #f6c115;
  margin-top: 50px;
  overflow: scroll;
  line-height: 1.5; }
  .tracklist li:nth-child(even) {
    background-color: #a02938; }
  .tracklist li:nth-child(odd) {
    background-color: #942932; }
  .tracklist li {
    padding: 11px 40px; }
    .tracklist li span {
      color: white;
      padding-left: 10px; }

.home-page-title, .page-title {
  color: white;
  text-transform: uppercase;
  display: inline;
  position: absolute;
  opacity: 0.15;
  font-size: 80pt;
  transform: rotate(90deg);
  transform-origin: 0% 100%;
  vertical-align: text-bottom;
  left: -13px;
  top: 100%;
  transition: top 0.25s;
  font-weight: bold; }

.page-title {
  top: 150px;
  left: 93px;
  transform-origin: 0% 0%;
  transition: all 0.25s linear 0.7s; }

/*-----------------------
ARTISTS/ALBUMS LIST PAGE
------------------------*/
#right-artists-list, #right-albums-list, #right-search-list, #right-customer-login, #right-customer-account {
  width: 100%;
  height: 100%;
  position: relative;
  padding-top: 150px;
  box-sizing: border-box;
  color: #f6c115;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 38pt;
  letter-spacing: 1px; }

#artist-lists, #albums-lists, #search-lists-cont {
  position: relative;
  display: block;
  width: 70%;
  height: 100%;
  padding-bottom: 150px;
  box-sizing: border-box;
  margin: 0 auto;
  overflow: scroll;
  white-space: nowrap; }
  #artist-lists ul, #albums-lists ul, #search-lists-cont ul {
    white-space: normal;
    width: 45%;
    min-width: 300px;
    display: inline-block;
    vertical-align: top; }
    #artist-lists ul:first-of-type, #albums-lists ul:first-of-type, #search-lists-cont ul:first-of-type {
      margin-right: 10%; }
    #artist-lists ul li, #albums-lists ul li, #search-lists-cont ul li {
      margin: 10px 0;
      cursor: pointer; }
      #artist-lists ul li:hover, #albums-lists ul li:hover, #search-lists-cont ul li:hover {
        color: white; }

#search-lists-cont h2 {
  color: #ffffff; }
#search-lists-cont ul:first-of-type {
  margin-right: 0; }

#search-artists-list, #search-albums-list, #search-songs-list {
  margin-bottom: 30px; }

/*-----------------------
USER PAGES
------------------------*/
#right-customer-login, #right-customer-account {
  margin-top: 0; }
  #right-customer-login form, #right-customer-login h2, #right-customer-account form, #right-customer-account h2 {
    margin: 0 auto; }
  #right-customer-login form, #right-customer-account form {
    font-size: 0pt; }

.inner-title {
  top: 0px; }

#right-customer-login {
  height: 100%; }

#customer-login-cont, #customer-create-cont {
  position: relative;
  height: 100%; }

#customer-login-form, #customer-create-form {
  margin-left: 70px; }

#customer-edit {
  height: 100%; }

#customer-edit-form {
  margin-left: 70px;
  height: 100%;
  overflow: scroll;
  padding-bottom: 100px;
  box-sizing: border-box; }

#customer-welcome {
  margin-left: 150px; }

label {
  color: white;
  position: relative;
  display: inline-block;
  width: 180px;
  text-align: right;
  font-size: 18pt;
  margin-bottom: 20px;
  top: 3px; }

.align-top {
  vertical-align: top; }

input, .edit-customer-button, select {
  width: 400px;
  margin-left: 5px;
  background-color: #781922;
  color: white;
  border: none;
  font-size: 12pt;
  padding: 5px; }
  input:focus, .edit-customer-button:focus, select:focus {
    outline: 2px solid #f6c115; }

input:first-of-type, .edit-customer-button:first-of-type {
  margin-top: 0px; }

input:disabled, .edit-customer-button:disabled {
  /*cursor: not-allowed;*/
  background-color: #942932; }

.submit-button, .edit-customer-button {
  cursor: pointer;
  background-color: #f0a900;
  color: #942932;
  width: 150px;
  display: block;
  margin-left: 35px;
  margin-top: 0;
  margin-left: 5px;
  display: inline; }

.register-button {
  border: none;
  font-size: 12pt;
  width: 150px;
  padding: 5px;
  background-color: green;
  color: white; }

.login-error, .form-success {
  color: white;
  font-size: 14pt;
  position: relative;
  left: 6px;
  text-transform: none;
  vertical-align: top; }

.login-error-cont, .form-success-cont {
  display: inline-block;
  width: 100%; }

/*-----------------------
USER CART
------------------------*/
#right-customer-cart, #right-customer-checkout, #right-customer-orders, #right-customer-order-placed {
  height: 100%;
  overflow: scroll;
  padding-bottom: 100px;
  box-sizing: border-box; }

#customer-cart-cont {
  height: 80%;
  width: 80%;
  margin: 0 auto; }

.cart-item-cont {
  background-color: #8e2630;
  padding: 20px 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center; }
  .cart-item-cont:nth-child(even) {
    background-color: #942932; }

.cart-album-img {
  width: 100px;
  height: 100px;
  display: inline-block;
  overflow: hidden; }
  .cart-album-img img {
    min-width: 100%;
    max-height: 100%; }

.cart-album-title-cont {
  width: 250px;
  display: inline-block;
  overflow: hidden;
  padding-left: 20px; }

.cart-artist-name {
  font-size: 14pt;
  color: #ffffff; }

.cart-album-name {
  font-size: 24pt; }

.cart-album-price {
  font-size: 24pt;
  width: 120px;
  padding-left: 20px;
  display: inline-block;
  color: #ffffff; }

.cart-quantity-cont {
  display: inline;
  display: flex;
  align-items: center; }

.cart-quantity-input {
  width: 20px;
  margin: 0;
  text-align: center; }

.cart-quantity-icon {
  display: inline; }

.cart-icon {
  width: 15px;
  padding: 0 10px;
  display: inline-block;
  cursor: pointer; }

.cart-icon-delete {
  width: 20px;
  padding-left: 40px; }

#cart-total {
  font-size: 30pt;
  padding: 10px 30px;
  display: inline-block; }

#cart-checkout-btn {
  background-color: #f0a900;
  color: #942932;
  font-size: 20pt;
  font-weight: bold;
  font-family: benton-sans;
  text-transform: uppercase;
  padding: 5px 30px;
  margin: 13px 30px;
  float: right;
  border: none; }

/*-----------------------
CHECKOUT
------------------------*/
#customer-checkout-cont, #customer-orders-cont {
  width: 80%;
  margin: 0 auto; }
  #customer-checkout-cont h2, #customer-orders-cont h2 {
    margin: 30px 0px 20px 0px;
    overflow: visible; }
    #customer-checkout-cont h2:first-of-type, #customer-orders-cont h2:first-of-type {
      margin-top: 0; }
  #customer-checkout-cont form, #customer-orders-cont form {
    overflow: visible; }

#checkout-order-cont, .order-cont {
  padding: 20px 30px;
  border: 1px solid #f0a900; }

#checkout-items-list, .order-items-list {
  font-size: 14pt;
  color: white; }
  #checkout-items-list li, .order-items-list li {
    cursor: default !important;
    margin-bottom: 7px; }
    #checkout-items-list li span, .order-items-list li span {
      text-transform: lowercase;
      color: #f6c115; }

#checkout-total-price, .order-total-price {
  margin-top: 10px;
  font-size: 18pt; }

.checkbox-label {
  width: 25px;
  margin-bottom: 0; }

.checkbox {
  opacity: 0;
  margin: 8px 0;
  width: 15px; }

.custom-checkbox {
  cursor: pointer;
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  left: 5px;
  width: 14px;
  height: 14px;
  background-color: #781922;
  border: 2px solid #781922; }

label input:checked ~ .custom-checkbox, label .edit-customer-button:checked ~ .custom-checkbox, label input:focus ~ .custom-checkbox, label .edit-customer-button:focus ~ .custom-checkbox {
  border: 2px solid #f6c115; }

.custom-checkbox:after {
  content: "";
  display: none;
  width: 7px;
  height: 4px;
  top: 2px;
  left: 2px;
  position: absolute;
  border-left: 3px solid #f6c115;
  border-bottom: 2px solid #f6c115;
  transform: rotate(-40deg); }

label input:checked ~ .custom-checkbox:after, label .edit-customer-button:checked ~ .custom-checkbox:after {
  display: block; }

.edit-customer-button {
  background-color: green;
  color: white; }

/*-----------------------
USER ORDERS
------------------------*/
.order-cont {
  margin-bottom: 35px;
  padding: 0px;
  width: 100%; }

.customer-order-number {
  font-size: 24pt;
  color: #942932;
  background-color: #f0a900;
  padding: 20px 40px 10px 40px;
  margin-bottom: 30px; }

.order-panels-cont {
  display: flex; }

.order-left-panel, .order-right-panel {
  width: 50%;
  padding-left: 40px; }

.customer-order-date, .customer-order-ship {
  font-size: 20pt;
  margin-bottom: 10px; }

.order-items-title {
  margin-top: 20px;
  font-size: 20pt; }

.order-items-list {
  margin-left: 25px; }

.order-total-price {
  font-size: 20pt;
  margin-bottom: 30px; }

.customer-order-shipping {
  color: #ffffff;
  font-size: 14pt;
  line-height: 25px; }

.order-address-title {
  color: #f6c115;
  margin-bottom: 10px;
  font-size: 20pt; }

#orders-empty {
  font-size: 0.5em;
  color: #ffffff; }

/*-----------------------
VUE ANIMATION
------------------------*/
.slide-leave-active {
  position: relative;
  left: 0;
  transition: all 0.2s; }

.slide-enter-active {
  position: relative;
  left: 0;
  transition: all 0.2s; }

.slide-enter, .slide-leave-to {
  position: relative;
  opacity: 0;
  left: 100px; }

.slide-left-leave-active {
  position: relative;
  transition: all 0.2s; }

.slide-left-enter-active {
  position: relative;
  transition: all 0.2s; }

.slide-left-enter, .slide-left-leave-to {
  position: relative;
  opacity: 0; }

.slide-left-delay-leave-active {
  transition: all 0.2s; }

.slide-left-delay-enter-active {
  transition: all 0.2s linear 0.5s; }

.slide-left-delay-enter, .slide-left-delay-leave-to {
  opacity: 0; }

.cart-slide-down-enter-active, .cart-slide-down-leave-active {
  position: relative;
  top: 0;
  transition: all 0.2s; }

.cart-slide-down-enter {
  position: relative;
  opacity: 0;
  top: -20px; }

.cart-slide-down-leave-to {
  position: relative;
  opacity: 0;
  top: 20px; }

.title-slide-down-enter-active, .title-slide-down-leave-active {
  top: 10px;
  transition: all 0.2s; }

.title-slide-down-enter {
  opacity: 0;
  top: -10px; }

.title-slide-down-leave-to {
  opacity: 0;
  top: 30px; }

.slide-delay-leave-active {
  left: 0;
  transition: all 0.2s; }

.slide-delay-enter-active {
  left: 0;
  transition: all 0.2s linear 0.5s; }

.slide-delay-enter, .slide-delay-leave-to {
  opacity: 0;
  left: 100px; }

.slide-up-title-enter, .slide-up-title-leave-to {
  position: absolute;
  top: 100%; }

/*************************
MEDIA QUERIES
*************************/
@media screen and (max-width: 1200px) {
  /*-----------------------
  LEFT PANEL
  ------------------------*/
  #logo {
    width: 70%; }

  /*-----------------------
  RIGHT PANEL
  ------------------------*/
  #store-name {
    width: 70%;
    margin: 0 auto; }

  .album-info {
    width: 70%;
    margin-left: 15%; }

  #artist-name {
    font-size: 28pt; }

  #album-name {
    font-size: 40pt; }

  .home-page-title, .page-title {
    font-size: 60pt; }

  .page-title {
    left: 70px; } }
@media screen and (max-width: 1024px) {
  /*-----------------------
  LEFT PANEL
  ------------------------*/
  #left-panel {
    width: 35%; }

  /*-----------------------
  RIGHT PANEL
  ------------------------*/
  #right-panel {
    width: 65%; }

  #store-name {
    width: 60%; }

  #artist-name {
    font-size: 22pt;
    margin-bottom: -3px; }

  #album-name {
    font-size: 32pt; }

  .yellow-arrow {
    margin-bottom: 0;
    top: 2px; }

  .tracklist li {
    font-size: 11pt; }
    .tracklist li span {
      color: white;
      padding-left: 10px; }

  /*-----------------------
  ARTIST/ALBUM LIST
  ------------------------*/
  #right-artists-list, #right-albums-list {
    font-size: 34pt;
    padding-top: 120px; }

  #artist-lists ul, #albums-lists ul {
    display: block; }
    #artist-lists ul li, #albums-lists ul li {
      margin: 8px 0; }

  /*-----------------------
  USER PAGES
  ------------------------*/
  #customer-login-cont, #customer-create-cont {
    height: 100%;
    padding-bottom: 50px;
    overflow: scroll;
    box-sizing: border-box; }

  #customer-login-form, #customer-create-form, #customer-edit-form {
    width: 60%;
    margin: 0 auto; }
    #customer-login-form form, #customer-create-form form, #customer-edit-form form {
      width: 100%; }

  #customer-login-form form input[type=text], #customer-login-form form [type=text].edit-customer-button, #customer-login-form form input[type=password], #customer-login-form form [type=password].edit-customer-button {
    margin-bottom: 20px; }

  #customer-create-form input, #customer-create-form .edit-customer-button {
    margin-bottom: 10px; }

  input, .edit-customer-button, select {
    width: 100%;
    margin: 0 0 10px 0;
    box-sizing: border-box; }

  label {
    display: block;
    text-align: left;
    margin-bottom: 10px; }

  .empty-label {
    display: none; }

  .login-error-cont, .form-success-cont {
    margin-bottom: 20px; }

  .submit-button, .edit-customer-button {
    margin: 0 0 10px 0; }

  .submit-button-login {
    width: 100%;
    margin-top: 5px; }

  input[type=submit], [type=submit].edit-customer-button {
    margin-top: 10px; }

  #right-customer-account {
    padding-top: 60px; }

  #customer-welcome {
    margin: 0 auto;
    text-align: center;
    font-size: 26pt; } }
@media screen and (max-width: 500px) {
  h2 {
    font-size: 28pt; }

  /*-----------------------
  TOP PANEL
  ------------------------*/
  #left-panel {
    width: 100%;
    min-height: 0;
    height: 40%;
    background-color: initial;
    box-shadow: none;
    z-index: 100;
    transition: height 0.2s ease-in 0.2s; }
    #left-panel.closed {
      height: 0;
      width: 100%; }
    #left-panel.narrow {
      width: 100%;
      height: 20%; }

  .left-album-covers {
    height: 100%;
    margin-top: 10px;
    z-index: 100; }

  #logo {
    height: 65%;
    width: auto;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-bottom: 170px; }
    #logo img {
      height: 100%;
      width: auto; }

  .album-image-cont {
    height: 65%;
    width: auto;
    margin: 150px auto;
    text-align: center;
    position: relative;
    z-index: 100; }
    .album-image-cont img {
      height: 100%;
      width: auto; }
    .album-image-cont:first-of-type {
      margin-top: 0;
      top: 50%;
      transform: translateY(-50%); }
    .album-image-cont:last-of-type {
      margin-bottom: 130%; }
    .album-image-cont.single-album {
      position: relative;
      height: 65%;
      margin-bottom: 0; }
      .album-image-cont.single-album img {
        left: 0;
        right: 0;
        margin: 0 auto; }

  /*-----------------------
  USER PANEL
  ------------------------*/
  #user-cont {
    z-index: 103;
    width: 100%;
    background-color: #942932;
    justify-content: flex-end;
    top: 0;
    right: 0;
    padding: 10px 0; }

  #user-cart-icon {
    height: 16px; }

  #user-cart-quantity-cont {
    width: 17px;
    height: 17px;
    font-size: 11pt; }

  #user-name {
    margin-right: 10px;
    font-size: 11pt; }

  #mobile-page-title {
    display: inline-block;
    position: absolute;
    left: 20px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13pt;
    letter-spacing: 1.5px;
    color: rgba(255, 255, 255, 0.7); }

  /*-----------------------
  NAVIGATION
  ------------------------*/
  #nav-cont {
    z-index: 102; }

  #nav-button {
    top: 40%;
    z-index: 103;
    font-size: 16pt;
    padding: 5px 12px; }

  #nav-menu.active {
    width: 200px; }
  #nav-menu ul {
    font-size: 24pt;
    width: 120px; }
    #nav-menu ul li {
      padding: 4px 10px; }
      #nav-menu ul li form {
        width: 100%; }

  #nav-search {
    width: 75%; }

  #search-submit-btn {
    width: 25%;
    margin-top: 0;
    background-color: #781922;
    background-size: 55%;
    background-position: 20% 50%; }

  #user-menu-cont {
    width: 175px;
    height: 100%;
    padding: 37px 0 0 0;
    box-sizing: border-box;
    top: 0;
    transform: none; }

  #user-menu {
    width: 90%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14pt;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    #user-menu li {
      display: inline;
      padding: 0 7px;
      margin: 2px 0;
      border-left: 2px solid #f6c115; }
      #user-menu li:first-of-type {
        border-left: none; }
      #user-menu li a {
        color: #ffffff; }

  /*-----------------------
  BOTTOM PANEL
  ------------------------*/
  #right-panel {
    width: 100%;
    height: 60%;
    top: initial;
    bottom: 0;
    z-index: 101;
    box-shadow: 0px 2px 10px 6px rgba(0, 0, 0, 0.1) inset;
    transition: all 0.2s ease-in 0.2s; }
    #right-panel.open {
      width: 100%;
      height: 94%; }
    #right-panel.wide {
      width: 100%;
      height: 80%; }

  #store-name {
    width: 70%; }

  .home-page-title, .page-title {
    display: none; }

  .right-album-info {
    text-align: center;
    z-index: 102; }

  .album-info {
    z-index: 104;
    top: 25%;
    transform: none;
    width: 75%;
    margin: 0 auto;
    position: relative; }

  #artist-name {
    margin-bottom: 1px; }

  .yellow-arrow {
    display: block;
    margin: 0 auto;
    transform: rotate(90deg);
    margin-top: -5px; }
    .yellow-arrow.active {
      transform: rotate(270deg);
      left: 0; }

  .more-info {
    margin-bottom: 50px; }
    .more-info.active {
      margin-bottom: 150px; }

  .tracklist {
    max-height: none;
    text-align: left; }

  /*-----------------------
  ARTIST/ALBUM LIST
  ------------------------*/
  #right-artists-list, #right-albums-list, #right-search-list {
    font-size: 24pt;
    padding-top: 90px; }

  #artist-lists, #albums-lists, #search-lists-cont {
    width: 75%; }
    #artist-lists ul, #albums-lists ul, #search-lists-cont ul {
      width: 100%;
      min-width: 0; }
      #artist-lists ul li, #albums-lists ul li, #search-lists-cont ul li {
        margin: 8px 0; }

  /*-----------------------
  USER PAGES
  ------------------------*/
  #right-customer-login {
    padding-top: 110px; }

  #customer-login-form, #customer-create-form, #customer-edit-form {
    width: 75%; }

  /*-----------------------
  USER CART
  ------------------------*/
  .cart-item-cont {
    justify-content: center;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 30px; }

  .cart-album-img {
    width: 120px;
    height: 120px; }
    .cart-album-img img {
      min-width: 100%;
      min-height: 100%; }

  .cart-album-title-cont {
    padding-left: 0;
    text-align: center;
    width: 100%;
    display: inline-block;
    padding: 10px 0 20px 0; }

  .cart-artist-name {
    font-size: 16pt;
    margin-bottom: 2px; }

  .cart-album-name {
    font-size: 20pt; }

  .cart-album-price {
    font-size: 20pt;
    width: auto;
    padding-left: 0;
    display: inline; }

  .cart-quantity-cont {
    padding: 0 10px; }

  .cart-quantity-input {
    width: 25px; }

  .cart-icon-delete {
    padding: 0; }

  #cart-total {
    font-size: 20pt;
    display: block;
    padding: 10px 0;
    border: 1px solid #f6c115;
    text-align: center;
    margin: 25px 0 15px 0; }

  #cart-checkout-btn {
    font-size: 20pt;
    width: 100%;
    display: block;
    margin: 0; }

  /*-----------------------
  ORDER PAGE
  ------------------------*/
  .customer-order-number {
    display: block;
    padding: 10px 0 10px 20px;
    font-size: 20pt; }

  .order-panels-cont {
    padding: 0px 25px;
    display: block;
    margin-bottom: 30px; }

  .order-left-panel, .order-right-panel {
    width: 100%;
    padding: 0; }

  .customer-order-date, .order-items-title, .order-total-price, .order-address-title {
    font-size: 18pt;
    margin-top: 20px;
    margin-bottom: 0px; }

  .order-items-list {
    margin-top: 10px; }

  .order-address {
    line-height: 1.3;
    margin-left: 25px;
    margin-top: 10px; } }

/*# sourceMappingURL=main.css.map */
